/* GERAL */
body {
    /* Cor do Fundo  */
    background-color: #eee;
    
    
    /* Alterar a Fonte dos textos da página */
    font-family: 'Roboto', sans-serif;
}

/* CABECALHO */
#cabecalho {
    border: 1px solid #000; /* borda */
    border-radius: 5px; /* Borda Arredondada */
    padding: 10px;  /* espaco interno */
}

.logo {
    display: inline-block;
}

.menu {
    display: inline-block;
    margin-right: 30px;
    margin-left: 30px;
}

.menu-link {
    display: inline-block;
    margin-right: 5px;
}

.form-pesquisa {
    display: inline-block;
    margin-top: 15px;
}

/* CONTEUDO */

h1 {
    color: red; /* cor do título principal  */
}

li {
    /* Tirar os pontos */
    list-style: none;
    
    /* Deixar um ao lado do outro  */
    display: inline-block;
}

.centralizar {
    margin-right: auto;
    margin-left: auto;
    width: 700px;    
}

.img-principal {
    float: left;  /* flutuar para esquerda */
}

.img-list {
    clear: left; /* "liberar" a flutuação da esquerda */
}


/* RODAPE */
#rodape {
    border-top: 1px solid #222;
}

#rodape p {
    font-size: 12px;
    text-align: center;
}