body {
    /* cor do fundo */
    background-color: #eee;
    
    /* alterar a fonte dos textos da página */
    font-family: 'Roboto', sans-serif;
}

#cabecalho {
    border: 1px solid #000; /* borda */
    border-radius: 5px; /* borda arredondada */
    padding: 10px; /* espaco interno */
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    
    
}



h1 {
    /* propriedade: valor; */
    color: red;
}


li {
    /* tirar os pontos */
    list-style: none;
    
    /* deixar um ao lado do outro */
    display: inline-block;
}

.centralizar {
    margin-right: auto;
    margin-left: auto;
    width: 500px;
}